.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      .isotype {
        margin-bottom: 0.4rem;
      }

      .name {
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }
}

.items {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
}

.coco {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 21rem) {
  .header {
    .top {
      flex-direction: column;
      gap: 2rem;
    }
  }
}
